select {
border: 1px solid darkgrey;
line-height: 24px;
height: 24px;
width: 80px;
margin: 5px 5px 10px 0px;
}
input {
vertical-align: -2px;
margin-right: 5px;
}
body {
font-size: 12px;
}
.pt {
cursor: pointer;
}
/* layout */
#wrap,header,footer {
/* width: 1024px; */
width: 1000px;
margin: 0 auto;
padding: 0;
}
#wrap {
padding-bottom: 20px;
}
.lay-6 {
float: left;
width: 50%;
/* background: url(../images/bg_r.png); */
}
/* layout end */

/* footer */
footer {
font-size: 12px;
line-height: 30px;
color: #ccc;
background: #333;
margin-top: 15px;
}
.nav-foot {
float: left;
text-align: left;
width: 30%;
}
.copyright {
float: left;
text-align: right;
width: 35%;
}
.nav-foot a {
color: #ccc;
margin-right: 15px;
}
.nav-foottool {
float: left;
text-align: right;
width: 35%;
}
.nav-foottool a {
color: #ccc;
margin: 0 8px;
}
/* footer end */
/* 切换 */
.mod-tab {
width: 1000px;
margin: 0 auto;
}
.mod-tab .tab-item {
float: left;
width: 50%;
line-height: 34px;
text-align: center;
font-size: 14px;

border-bottom: 1px solid #e1e1e1;
background: #ededed;
color: #333;
}
.mod-tab .on {
font-weight: 700;
background: #fff;
}
/* mod-sch */
.mod-sch {
position: relative;
padding: 25px 0 40px;
margin-bottom: 12px;
border: 1px solid #e5ecf3;
border-left-width: 0;
border-right-width: 0;
text-align: center;
border-top: none;
}
.txt-sch {
width: 120px;
padding: 8px;
margin-right: 6px;
border: 1px solid #aec1d8;
font-size: 14px;
vertical-align: 0;
}
.btn-sch {
width: 100px;
line-height: 35px;
text-align: center;
border: none;
color: #fff;
background: #4f81bd;
margin-right: 6px;
font-size: 14px;
}
.btn-advsch {
color: #dc8657;
}
.tip-sch {
position: absolute;
top: 70px;
left: 114px;
color: #dc8657;
}
/* mod-chart */
.mod-chart {
padding: 10px;
background: #f5f5f5;
border-top: 1px solid #e1e1e1;
overflow: hidden;
}
.mod-chart img {
width: 480px;/*todo*/
}
/* mod-multiple */
.mod-multiple {
border: 1px solid #bdc0c3;
overflow: hidden;
}
/* mod-report */
.mod-report {
padding-left: 26px;
border: 1px solid #e1e1e1;
border-left: 0;
border-right: 0;
padding-bottom: 8px;
}
.list-bd {
list-style: disc;
padding-left: 10px;
line-height: 2;
font-size: 14px;
white-space: nowrap;
}
.list-bd li {
list-style: disc;
padding-left: 10px;
line-height: 2;
font-size: 14px;
white-space: nowrap;
}
.list-bd li a {
color: #333;
}
.list-bd li a:hover {
color: #4f81bd;
}
.list-hd {
margin-top: 10px;
font-size: 20px;
font-family: Microsoft YaHei;
font-weight: bold;
margin-bottom: 8px;
}
.mod-metro {
padding-left: 26px;
padding-top: 15px;
text-align: center;
font-family: Microsoft YaHei;
}
/*  */
.tpl-nav {
padding-left: 330px;
background: url(../images/bg_nav.png) no-repeat;
}
.tpl-nav  li {
float: left;
font-size: 20px;
font-family: Microsoft YaHei;
color: #fff;
line-height: 50px;
padding: 0 18px;
cursor: pointer;
}
.tpl-nav .on {
background: #76ace3;
}

.metro-col-1 {
width: 152px;
margin-right: 2px;
}
.metro-col-2 {
width: 180px;
margin-right: 2px;
}
.metro-col-3 {
width: 135px;
margin-right: 2px;
}
.metros:hover {
background: #7ea9d4;
}
.metros1 {
color: #fff;
font-size: 14px;
font-family:  sans-serif;
background: #dc8657;
/* padding: 15px; */
line-height: 2.14285714;
margin-bottom: 2px;
font-weight: 700;
}
.metros2 {
color: #fff;
font-size: 30px;
background: #6599cf;
padding: 5px 15px 8px 20px;
margin-bottom: 2px;
}
.metros3 {
color: #fff;
font-size: 30px;
background: #9dc5ef;
padding: 10px 15px 8px 10px;
margin-bottom: 2px;
}
.metros4 {
color: #fff;
font-size: 36px;
background: #80b2e6;
padding: 18px 15px 21px 15px;
margin-bottom: 2px;
white-space: nowrap;
}
.metros5 {
color: #fff;
font-size: 48px;
background: #4b88c6;
padding: 8px 15px 2px 12px;
margin-bottom: 2px;
}
.metros6 {
color: #fff;
font-size: 30px;
background: #98bfe8;
padding: 15px 8px 25px 15px;
margin-bottom: 2px;
}
.metros7 {
color: #fff;
font-size: 30px;
background: #76ace3;
padding: 15px 14px 8px 5px;
margin-bottom: 2px;
}
.mod-metro p {
font-size: 14px;
text-align: left;
}
.metro-col-3 i {
font-size: 18px;
}

/*
 * 高级检索页面
 */
/*  面包屑 */

#dqwz {
width: 972px;
height: 22px;
padding-left: 30px;
line-height: 22px;
margin: 0px auto;
padding-top: 2px;
margin-bottom: 5px;
position: relative;
color: #643120;

text-align: left;
margin-bottom: 5px;
}
#dqwz li {
float: left;
}
#dqwz a {
color: #643120;
}
#dqwz li a {
color: #643120;
}
/*  */
.mod-advsch {
position: relative;
width: 1000px;
/* height: 282px; */
margin: 0 auto;
/* background: url(../images/bg_adv.png); */
border: 1px solid #4f81bd;
}
.choose-cd {
height: 73px;
}
.choose-con {
position: relative;
}
/* 地区 */
.choose-opt {
float: left;
width: 240px;
height: 250px;
padding: 10px;
overflow: auto;
border-right: 1px solid #4f81bd;
}
.choose-time {
float: left;
padding-left: 15px;
padding-top: 15px;
padding-bottom: 0;
width: 175px;
border: none
}
.choose-time select {
width: 82px;
}
.part-choosearea {
margin: 9px -10px 7px;
padding: 8px 10px 7px;
border-top: 1px solid #a2bedf;
border-bottom: 1px solid #a2bedf;
}
.part-choosearea.abs {
position: absolute;
background: #fff;
width: 224px;
top: 0;
margin-top: 0;
}
.btn-locate {
display: inline-block;
width: 50px;
line-height: 25px;
background: #4f81bd;
color: #fff;
text-align: center;
cursor: pointer;
}
.btn-back {
color: #999;
font-size: 13px;
padding-left: 22px;
cursor: pointer;
background: url(../images/icon_back.png) no-repeat;
}
.part-condition {
padding-top: 6px;
}
.txt-sch-area {
width: 140px;/* 滚动条宽 */
height: 18px;
padding: 3px 8px 3px 8px;
}
.list-condition li {
float: left;
width: 30%;
/* margin-right: 10px; */
line-height: 24px;
}
.choose-area .list-condition li {
width: auto;
}
/* 多种形式 */
.list-condition .tag-sch{
border: 1px solid #bbbbbb;
margin-right: 5px;
background: none;
cursor: pointer;
padding: 0 15px 0 10px;
}
.list-condition .tag-sch:hover {
border: 1px solid #e1976f;
color: #e1976f;
}
/* 检索定位标识 */
.list-condition  .loc-tag {
background: #ecf2f9;
}
/* mod-index */
.mod-index .part-choosearea {
float: right;
margin: 0;
padding-right: 0;
border: none;
}
.mod-index .part-back {
float: left;
padding: 14px 0 0 0;
}
.mod-index .choose-tool {

/*margin: 0 -10px;
padding: 0 10px;*/
border-bottom: 1px solid #e1e1e1;
}
.mod-index {
width: 518px;
}
.nav-index-box {
text-indent: 18px;
background: #ecf2f9;
margin: -10px;
}

.nav-index {
float: left;
width: 33%;
border-left: 1px solid #a2bedf;
border-bottom: 1px solid #a2bedf;
padding: 9px 0;
}
.nav-index.on {
background: #fff;
border-bottom: 1px solid #fff;
}
.btn-time {
display: inline-block;
width: 50px;
line-height: 25px;
color: #fff;
background: #4f81bd;
text-align: center;
float: right;
cursor: pointer;
margin-right: 5px;
}
.tag-sch {
display: inline-block;
line-height: 25px;
padding: 0 25px 0 10px;
font-size: 13px;
background: url(../images/btn_dell.png) 90% center #fff no-repeat;
margin-bottom: 8px;
margin-right: 5px;
cursor: pointer;
}
.choose-tt h2 {
font-size: 14px;
font-weight: 700;
color: #fff;
padding: 8px 0 5px;
border-bottom: 1px solid #6b99d0;
margin-bottom: 8px;
}
.mod-indextt h2,.mod-statictt h2 {
border-bottom: 1px solid #a2bedf;
}
.area {
float: left;
padding: 0 8px;
margin: 0;/* 重复 */

}
.advsch-filter {
    /*min-height: 300px;*/
}
.mod-area {
width: 245px;
background: #4f81bd;
}
.mod-indextt {
width: 252px;
background: #6599cf;
border-right: 1px solid #a2bedf;
}
.mod-statictt {
width: 254px;
background: #6599cf;

}
.mod-timett {
width: 184px;
background: #4f81bd;
}
.mod-btns {
clear: both;
padding: 4px 0;
background: #ecf2f9;
text-align: center;
}
.btn-advsch {/* 高级检索 */


/* background: #4f81bd;
color: #fff; */
text-align: center;
cursor: pointer;
font-size: 14px;
}
.mod-btns .btn-advsch { 
display: inline-block;
width: 100px;
line-height: 25px;
color: #fff;
background: #4f81bd;
}

.mod-extend {
padding: 4px 0;
background: #4f81bd;
}
.btn-extend {
display: inline-block;
padding-left: 30px;
line-height: 25px;
font-size: 14px;
color: #fff;
cursor: pointer;
background: url(../images/icon_updown.png) no-repeat;
float: right;
margin-right: 20px;
}
.btn-extend {
background-position: 6px -46px;
}
.btn-extend.on {
background-position: 6px -5px;
}
.mod-extend.on {
margin-top: 1px;
}
.part-calc {
float: left;
width: 140px;
height: 365px;
background: #ededed;
}
.list-calc {
padding: 10px;
}
.list-calc li {
margin-bottom: 10px;
line-height: 30px;
padding-left: 36px;
background-image: url(../images/icons_yearbook.png);
background-repeat: no-repeat;
background-color: #4f81bd;
color: #fff;
cursor: pointer;
}

.mod-rsset {
float: left;
position: relative;
width: 858px;
height: 363px;
border: 1px solid #ddd;
overflow: scroll;

}
.tb-rs {
min-width: 100%;
table-layout: fixed;
font-size: 14px;
line-height: 35px;
text-align: center;
/* border: 1px solid #f7f7f7; */
}
.tb-rs tr {
border-bottom: 1px solid #f7f7f7;
}
.tb-rs td {
width: 100px;
white-space: no-wrap;
}
.tb-rs .tb-rstt {
font-weight: 700;
border-bottom: 2px solid #f0f2f4; 
}
.tb-datadt {
position: absolute;
top: 40%;
left: 40%;
/*margin-left: -200px;
margin-top: -100px;*/
z-index: 2;
}
/* 指标解释弹出 */
.mod-indexdescribe {
width: 260px;
}
.mod-indexdescribe .mod-btns {
background: #fff;
}
.mod-datadt {
padding:  0 10px;
text-align: left;
font-size: 12px;
line-height: 24px;
border: 1px solid #4f81bd;
background: #fff;
min-height: 150px;
}
.btn-dtreplace,.btn-dtreplace:link {
font-weight: 700;
color: #dd885a;
text-decoration: underline;
}
.part-origin {
}
.mod-datadt h4 {
margin: 0 -10px;
text-indent: 10px;
font-weight: 700;
color: #4f81bd;
line-height: 30px;
border-bottom: 1px solid #4f81bd;
font-size: 14px;
}
.btn-dt-close {
float: right;
width: 30px;
height: 30px;
background: url(../images/btn_dt_close.png) center no-repeat;
cursor: pointer;
}
.icon-calc {}
.icon-unit {
background-position: 0 -38px;
}
.icon-coordinate {
background-position: 0 -80px
}
.icon-excel {
background-position: 0 -119px;
}
.icon-statistics {
background-position: 0 -159px;
}

/* static */
.mod-static {
height: 545px;
padding: 30px 0 0 36px;
border: 1px solid #ccc;
margin-bottom: 20px;
}
.list-staticthub li {
float: left;
width: 60px;
height: 60px;
margin-right: 20px;
/* border: 1px solid #aec1d8; */
background-image: url(../images/icon_bar.png);
background-repeat: no-repeat;
cursor: pointer;
}
.static-hbar {
background-position: -78px 0;
}
.static-pie {
background-position: -156px 0;
}
.static-line {
background-position: -234px 0;
}

.on.static-bar {
background-position: 0 -79px;
}
.on.static-hbar {
background-position: -78px -79px;
}
.on.static-pie {
background-position: -156px -79px;
}
.on.static-line {
background-position: -234px -79px;
}

.statci-con {
width: 610px;
height: 500px;
border: 1px solid #cccccc;
}
.list-staticthub {
margin-bottom: 30px;
}
.static-tip {
margin-bottom: 20px;
}
.static-tip-tt {
display: inline-block;
width: 88px;
font-family: Microsoft YaHei;
}
.statci-opt select {
width: 214px;
}
.static-tip .fm-spe {
margin-left: 40px;
}
.mod-static .mod-btns {
background: #fff;
}
.btn-createbar {
display: inline-block;
width: 100px;
line-height: 30px;
text-align: center;
border: none;
color: #fff;
background: #4f81bd;
margin-right: 6px;
cursor: pointer;
}
.btn-f5 {
display: inline-block;
width: 40px;
line-height: 30px;
text-align: center;
border: none;
color: #fff;
background-color: #4f81bd;
/* background-image: url(../images/btn_f5.png); */
/* text-indent: -999em; */
margin-left: 65px;
cursor: pointer;
}
.hidechart {
margin-left: 20px;
}
.mod-switchunit {
width: 450px;
height: 244px;
background: url(../images/bg_unit.png);
}
.mod-switchunit h4 {
line-height: 28px;
font-size: 14px;
}
.switchunit-con {
padding-top: 50px;
padding-left: 13px;
font-size: 14px;
}
.index-tt {
display: inline-block;
width: 232px;
}
.index-name,.index-unit {
height: 30px;
line-height: 30px;
margin: 6px 0 6px;
width: 196px;
border: 1px solid darkgrey;
}
.index-unit {
width: 170px;
}
.btn-switchunit {
display: inline-block;
width: 60px;
line-height: 30px;
text-align: center;
border: none;
color: #fff;
background-color: #4f81bd;
font-size: 12px;
cursor: pointer;
}
.mod-switchunit .mod-btns {
margin-top: 48px;
padding-right: 20px;
margin-bottom: 10px;
background: #fff;
text-align: right;
}
.cordinate-con .mod-btns {
margin-top: 20px;
}
.cordinate-con {
padding-top: 20px;
padding-top: 15px;
padding-left: 13px;
/* font-size: 14px; */
}
.cordinate-con p {
font-size: 14px; /* todo */
}

.fm-slct {
width: 120px;
height: 30px;
line-height: 30px;
margin-right: 10px;
}
.tip-cordinate {
margin-top: -10px;
margin-bottom: 5px;
}
/* 检索下拉 */
.sitem {
position: absolute;
background: white;
border: 1px solid #D9D9D9;
min-width: 136px;
font-size: 14px;
color: #6d767b;
left: 109px;
top: 60px;
z-index: 999;
text-align: left;
}
.sitem a {
display: inline-block;
width: 100%;
height: 28px;
text-indent: 10px;
color: #6d767b;
line-height: 32px;
font-size: 14px;
}
.sitem a:hover{
background: #ebf0f7;
}/* 检索列表结束 */
.mod-schresult {
position: relative;
margin-bottom: 15px;/* 页面间距 */
}
.tip-highlight {
border: 1px solid #f00;
}
.tb-rs td:hover {
    color: #4f81bd;
}
/* 添加选取指标 */
.mod-seltp .mod-datadt h4 {
margin: 0 -30px;
}
.mod-seltp .tag-sch{
border: 1px solid #bbbbbb;
margin-right: 5px;
background: none;
cursor: pointer;
}
.mod-seltp .tag-sch:hover {
border: 1px solid #e1976f;
color: #e1976f;
}
.mod-seltp .mod-datadt {
padding: 0 30px;
}
.fm-tag {
float: left;
width: 50%;
}
.seltp-rout {
padding: 15px 0 10px;
}
.seltp-rout span {
margin-left: 8px;
margin-right: 8px;
}
.mod-seltp .mod-btns {
background: #fff;
text-align: right;
}
.fm-tag input {
margin-right: 10px;
}
/* 高级计算 */
.list-advcalc  li {
min-width: 138px;
line-height: 30px;
text-indent: 15px;
border-top: 1px solid #6599cf;
cursor: pointer;
}
.list-advcalc  li:hover,.list-advcalc  .on {
background: #ecf2f9;
}
.sub-modadvcalc {
position: absolute;
left: 138px;
background: #fff;
border: 1px solid #6599cf;
top: -1px;
}
.mod-advcalc {
position: absolute;
border: 1px solid #6599cf;
top: 10px;
left: 130px;
background: #fff;
z-index: 2;
}

/* 生成图修改 */
.index-box {
float: left;
width: 120px;
height: 70px;
border: 1px solid #dbdbdb;
overflow-y: scroll;
}
.index-box p {
cursor: pointer;
}
.selindextt {
font-family: Microsoft YaHei;
}
.index-action {
float: left;
width: 40px;
padding: 10px;
text-align: center;
}
.btn-pushindex,.btn-pullindex {
display: inline-block;
width: 30px;
height: 20px;
line-height: 20px;
cursor: pointer;
background: url(../images/btn_index.png) no-repeat #4f81bd;
background-position: 9px 5px;
}
.btn-pullindex {
margin-top: 10px;
background-position: 9px -25px;
}
/* todo */
#dotcont_advchoose {
width: 450px;
height: 260px;
overflow-y: scroll;
}
.btn-equal {
display: inline-block;
width: 30px;
height: 30px;
line-height: 30px;
/* cursor: pointer; */
background: url(../images/btn_equal.png) no-repeat;
background-position: 5px 5px;
}
.btn-sure {
display: inline-block;


width: 60px;
height: 30px;
line-height: 30px;
font-weight: 700;
cursor: pointer;
background:#4f81bd;
color: #fff;
text-align: center;
}
.part-self-calc1 {
float: left;
width: 260px;
}
.part-self-calc2 {
float: left;
width: 50px;
text-align: center;
}
.part-self-calc3 {
float: left;
width: 270px;
}
.mod-selc-box {
height: 140px;
padding: 10px;
margin-top: 10px;
border: 1px solid #bbb;
overflow-y: scroll;
}
.calc-box {
height: 80px;
padding: 10px;
margin-bottom: 10px;
border: 1px solid #bbb;
}
.tag-index {
display: inline-block;
width: 30%;
line-height: 30px;
text-align: center;
cursor: pointer;
}
.calc-box .tag-index {
width: auto;
}
.tag-operation {
display: inline-block;
width: 26px;
height: 26px;
line-height: 26px;
cursor: pointer;
background:#4f81bd;
text-align: center;
margin-bottom: 5px;
margin-right: 5px;
color: #fff;
}
.tag-del {
width: 60px;
}
.calc-box .tag-operation {
color: #333;
background:#fff;
}
.txt-indexname {
width: 240px;
}
.btn-calc {
float: right;
display: inline-block;
width: 60px;
line-height: 30px;
text-align: center;
border: none;
color: #fff;
background-color: #4f81bd;
font-size: 12px;
cursor: pointer;
}
.advcalc-con {
padding: 15px;
}
.advcalc-tt {
margin-right: 30px;
font-size: 14px;
font-family: Microsoft YaHei;
}
.btn-goback,.btn-switchcordinate {
display: inline-block;
width: 70px;
line-height: 30px;
text-align: center;
border: none;
color: #fff;
background-color: #4f81bd;
/* background-image: url(../images/btn_f5.png); */
/* text-indent: -999em; */
margin-right: 10px;
cursor: pointer;
margin-top: 5px;
float: right;
}
.btn-switchcordinate {

}